/node_modules
/.idea
/public/hot
/public/applications.txt
public/applications.txt
/public/.htaccess
public/.htaccess
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
/public/video
/public/images
public/video
applications.txt
