@import "colors";

* {
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.gold585,
.gold999 {

    .choice-block,
    .sell-content {
        -webkit-box-shadow: 2px 2px 25px 0 $blockShadowGold;
        -moz-box-shadow: 2px 2px 25px 0 $blockShadowGold;
        box-shadow: 2px 2px 25px 0 $blockShadowGold;
    }
}

.silver925,
.silver999 {

    .choice-block,
    .sell-content {
        -webkit-box-shadow: 2px 2px 25px 0 $blockShadow;
        -moz-box-shadow: 2px 2px 25px 0 $blockShadow;
        box-shadow: 2px 2px 25px 0 $blockShadow;
    }
}

.gold585 {
    background-color: $goldBackground;
}

.gold999 {
    background-color: $goldBackground2;
}

.silver999 {
    background-color: $silverBackground;
}

.silver925 {
    background-color: $silverBackground;
}

.white {
    background-color: $white;
}

header {
    width: 100%;
    padding-bottom: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.main-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.header-logo {
    position: relative;


    .main-logo-personal {
        text-decoration: none;
        position: absolute;
        left: 2.8vw;
        top: 2vh;
        z-index: 3;

        img {
            width: 120px;
        }

        .logo-title span {
            position: relative;
        }

        .logo-title span::after {
            position: absolute;
            content: "";
            background-color: rgba(255, 255, 255, 0.4);
            left: -13%;
            top: 0;
            width: 85%;
            height: 100%;
            border-radius: 20%;
        }
    }


    .main-logo {
        text-decoration: none;
        position: absolute;
        left: 39vw;
        top: 28vh;
        z-index: 3;

        img {
            width: 120px;
        }

        p {
            color: $white;
        }

        .logo-title {
            font-size: 70px;
            font-weight: bolder;
            letter-spacing: 0.5em;
            margin: 0 0 0 50px;

            span {
                position: relative;
            }

            span::after {
                position: absolute;
                content: '';
                background-color: rgba(255, 255, 255, 0.4);
                left: -13%;
                top: 0;
                width: 85%;
                height: 100%;
                -webkit-border-radius: 20%;
                -moz-border-radius: 20%;
                border-radius: 20%;
            }
        }

        .logo-subtitle {
            font-size: calc(0.7vw + 19px);
            margin-top: -5px;
        }
    }
}

.main-logo:hover {
    text-decoration: none;
}

.header-actions {
    a {
        color: $white;
        font-size: 20px;
        padding-bottom: 2px;
    }

    a:hover {
        text-decoration: none;
        border-bottom: 1px solid $white;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-block {
    position: absolute;
    padding-top: 30vh;
    display: flex;
    margin: 70px auto 0;

    .progress-block {
        color: $white;
        font-size: 30px;
        font-weight: bolder;
        margin-top: 150px;
    }
}

.block-text {
    color: $white;
    position: relative;
    margin-top: 23vh;

    p {
        text-align: center;
        font-size: calc(0.5vw + 17px);
        font-weight: 500;
    }
}

.choice-block {
    background-color: $white;
    position: absolute;
    width: 80%;
    min-height: 100%;
    top: 93%;
    margin: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    .choice-content {
        padding: 120px 0;
        font-weight: 600;
        font-size: 50px;

        .wanna-sell {
            margin-bottom: 30px;
            min-width: 600px;

            input[type=number] {
                width: 140px;
                border: 1px solid $borderGray;
                padding: 5px 15px;
                margin: 0 5px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }

            input[type=number]:focus {
                outline: none;
                border-color: $black;
            }
        }

        .select {
            position: relative;
            min-width: 600px;

            .chosen {
                cursor: pointer;
                margin-bottom: 30%;
                position: relative;

                .chosen-container {
                    border-bottom: 1px solid $borderGray;
                }

                .fa-sort-down {
                    font-size: 40px;
                    margin: 16px 0 0 5px;
                }
            }

            .chosen:hover {
                color: $goldBackground;

                .chosen-container {
                    border-color: $goldBackground;
                }
            }

            .modal-options-wrapper {
                display: none;
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: $white;
                z-index: 9;

                .options-block {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .modal-options-close {
                        position: absolute;
                        right: 40px;
                        top: 60px;
                        width: 60px;
                        height: 60px;
                        cursor: pointer;
                        z-index: 3;

                        span {
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: block;
                            width: 50px;
                            height: 5px;
                            background-color: $black;
                        }

                        span:first-of-type {
                            transform: rotateZ(45deg);
                        }

                        span:last-of-type {
                            transform: rotateZ(-45deg);
                        }
                    }

                    .modal-options-close:hover span {
                        background-color: red;
                    }

                    .options-content {
                        margin: 0 auto;
                        position: absolute;
                        top: 20%;
                        width: 80%;
                        height: 100%;
                        padding-top: 235px;

                        .modal-options {
                            .options {
                                .option {
                                    cursor: pointer;

                                    span {
                                        padding-bottom: 2px;
                                        border-bottom: 1px solid $borderGray;
                                    }

                                    .color {
                                        display: block;
                                        width: 10%;
                                        height: 1.2em;
                                        border: none;
                                        margin-right: 22%;
                                    }
                                }

                                div:not(.selected):hover {
                                    color: $goldBackground;
                                }

                                .selected {
                                    color: $borderGray2;

                                    span {
                                        border-bottom: none;
                                        margin-right: 12px;
                                    }

                                    .fa-sort-up {
                                        font-size: 40px;
                                        margin: 16px 0 0 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .action {
            button {
                background-color: $black;
                border: none;
                color: $white;
                text-transform: uppercase;
                font-size: 30px;
                font-weight: bold !important;
                padding: 10px 35px;
                -webkit-border-radius: 35px;
                -moz-border-radius: 35px;
                border-radius: 35px;
                -webkit-transition: all ease 0.4s;
                -moz-transition: all ease 0.4s;
                -o-transition: all ease 0.4s;
                transition: all ease 0.4s;
                letter-spacing: 2px;
                z-index: 1;
            }

            button:hover {
                color: $goldBackground;
            }

            button:focus {
                outline: none;
            }
        }
    }
}

.sell-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 60px;

    .sell-parameters {
        display: inline;
        width: 28%;
        margin-top: 142px;
        padding-top: 40px;
        color: $white;
        font-size: 20px;
        font-weight: 500;
        opacity: 0;

        .wanna-sell {
            span:first-of-type {
                display: block;
                margin-bottom: 10px;
            }

            input {
                border: 1px solid rgba(255, 255, 255, 0.7);
                width: 60px;
                padding: 5px;
                background-color: transparent;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                color: $white;
                text-align: right;
                font-weight: 500;
                margin-right: 5px;
            }

            input:focus {
                outline: none;
                border-color: $white;
            }

            input::-webkit-input-placeholder {
                color: $white;
            }

            input::-moz-placeholder {
                color: $white;
            }

            /* Firefox 19+ */
            input:-moz-placeholder {
                color: $white;
            }

            /* Firefox 18- */
            input:-ms-input-placeholder {
                color: $white;
            }
        }

        .select {
            cursor: pointer;
            padding-bottom: 1px;
            margin-top: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            .chosen:hover {
                color: $goldenBorder;
            }
        }

        .select:hover {
            color: rgba(255, 255, 255, 0.7);
        }

        .currency-block {
            .currencies {
                list-style-type: none;
                padding-left: 0;

                li {
                    margin-bottom: 10px;
                    display: flex;

                    span {
                        display: flex;

                        .fa-sort-up {
                            margin: 10px 5px 0 0
                        }
                    }

                    .fa-sort-up {
                        color: $white;
                        margin-right: 2px;
                    }

                    span:first-of-type {
                        margin-right: 15px;
                        font-weight: bolder;
                    }
                }
            }

            .note {
                font-size: 18px;
                color: $white;
                opacity: 40%;
            }
        }
    }

    .sell-block {
        display: inline;
        //width: 72%; // Времменно
        width: 56%;
        position: relative;
        overflow-y: scroll;
        padding: 0 25px;

        .sell-content {
            margin-top: 100%;
            padding: 50px 42px;
            width: 100%;
            min-height: 120vh;
            background-color: $white;
            border-top-left-radius: 50px;
            -webkit-border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            -webkit-border-top-right-radius: 50px;


            .sell-content-title {
                font-size: 40px;
                letter-spacing: 2px;
                margin-bottom: 30px;

                p {
                    font-weight: bolder;

                    span {
                        padding-bottom: 2px;
                        margin: 0 5px 0 7px;
                        cursor: pointer;
                        border-bottom: 2px dotted transparent;
                    }

                    span.active {
                        border-bottom-color: $borderGray;
                    }

                    .fa-times {
                        font-size: 18px;
                        color: $borderGray;
                        margin-right: 10px;
                    }
                }
            }

            .sell-cards {
                width: 100%;
                flex-wrap: wrap;
                margin-bottom: 30px;

                .card {
                    width: 32%;
                    min-width: 302px;
                    max-width: 365px;
                    min-height: 550px;
                    margin-bottom: 20px;
                    margin-right: 25px;
                    -webkit-border-radius: 75px;
                    -moz-border-radius: 75px;
                    border-radius: 75px;
                    border: 1px solid $borderGray;
                    padding: 30px;


                    .card-title {
                        margin-bottom: 25px;
                        min-height: 90px;

                        .card-logo {
                            width: 50px;
                            margin-right: 15px;
                        }

                        p {
                            margin-bottom: 0;
                            font-size: 22px;
                            font-weight: 500;
                            letter-spacing: 1px;
                            line-height: 1.2;
                        }
                    }

                    .card-offer {
                        line-height: 1.4;
                        margin-bottom: 30px;

                        .price {
                            font-size: 40px;
                            font-weight: bolder;
                            margin-bottom: 0;
                        }

                        .time {
                            font-size: 22px;
                            font-weight: 500;
                        }
                    }

                    .card-actions {
                        margin-bottom: 30px;

                        button {
                            width: 100%;
                            border: none;
                            background-color: $black;
                            color: $white;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-weight: bolder;
                            padding: 10px 20px;
                            margin-bottom: 15px;
                            font-size: 21px;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            border-radius: 10px;
                        }

                        button:hover {
                            color: $goldBackground;
                            border-bottom-color: $goldBackground;
                        }

                        a {
                            color: $black;
                            font-size: 22px;
                            font-weight: 500;
                            text-align: center;
                            letter-spacing: 1px;
                        }

                        a:hover {
                            text-decoration: none;
                        }
                    }

                    .phone {
                        font-weight: bold;
                        font-size: calc(0.2vw + 23px);

                        p {
                            margin-bottom: 5px;
                        }
                    }

                    .apply {

                        button {
                            width: auto;
                            background-color: transparent;
                            color: $black;
                            font-weight: 500;
                            padding: 0;
                            border: none;
                            border-bottom: 1px solid $borderGray;
                            text-transform: none;
                            font-size: calc(0.3vw + 16px);
                            letter-spacing: normal;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            border-radius: 0;
                        }

                        button:focus {
                            outline: none;
                        }
                    }

                    .card-details {
                        ul {
                            list-style-type: none;
                            padding-left: 0;
                            color: $borderGray2;
                            font-size: 18px;
                            letter-spacing: 1px;
                            font-weight: 400;

                            li {
                                margin-bottom: 15px;
                                line-height: 1.3;
                            }
                        }
                    }
                }

                .card.inactive {
                    position: relative;
                }

                .card.inactive::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(162, 162, 162, 0.5);
                    z-index: 2;
                    left: 0;
                    top: 0;
                    -webkit-border-radius: 75px;
                    -moz-border-radius: 75px;
                    border-radius: 75px;
                }
            }

            .alternative-offer {
                margin-top: 40px;

                h3 {
                    font-weight: 700;
                    margin-bottom: 20px;
                    font-size: calc(0.6vw + 20px);
                }

                .own-price-btn {
                    border: none;
                    background-color: $goldBackground;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 1px;
                    font-size: calc(0.3vw + 16px);
                    padding: 15px 25px;
                    -webkit-border-radius: 35px;
                    -moz-border-radius: 35px;
                    border-radius: 35px;
                }

                .own-price-btn:hover {
                    color: $goldBackground;
                    background-color: $black;
                }

                .own-price-btn:focus {
                    outline: none;
                }
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: transparent;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-resizer {
    background-color: transparent;
}

::-webkit-input-placeholder {
    color: $borderGray;
}

::-moz-placeholder {
    color: $borderGray;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: $borderGray;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: $borderGray;
}






@media screen and (max-width: 2480px) {
    .sell-wrapper .sell-block .sell-content .sell-cards .card {
        margin-right: 20px;
    }
}

@media screen and (max-width: 2450px) {
    .sell-wrapper .sell-block .sell-content .sell-cards .card {
        margin-right: 15px;
    }
}

@media screen and (max-width: 2425px) {
    .sell-wrapper .sell-block .sell-content .sell-cards .card {
        margin-right: 10px;
    }
}

@media screen and (max-width: 2395px) {
    .sell-wrapper {
        .sell-block {
            //width: 75%; // Временно
            width: 56%;
        }

        .sell-parameters {
            width: 25%;
        }
    }
}

@media screen and (max-width: 2305px) {
    .sell-wrapper {
        .sell-block {
            //width: 78%; Временно
            width: 59%;
        }

        .sell-parameters {
            width: 22%;
        }
    }
}

@media screen and (max-width: 2235px) {
    .header-logo .main-logo {
        left: 38vw;
    }
}

@media screen and (max-width: 2220px) {
    .sell-wrapper {
        .sell-block {
            //width: 80%; // Временно
            width: 61%;
        }

        .sell-parameters {
            width: 20%;
        }
    }
}

@media screen and (max-width: 2170px) {
    .sell-wrapper {
        .sell-block {
            //width: 82%; // Временно
            width: 63%;
        }

        .sell-parameters {
            width: 18%;
        }
    }
}

@media screen and (max-width: 2125px) {
    .header-logo .main-logo {
        left: 37vw;
    }
}

@media screen and (max-width: 2120px) {
    .sell-wrapper {
        .sell-block {
            //width: 85%; // Временно
            width: 65%;
        }

        .sell-parameters {
            width: 15%;
        }
    }
}

@media screen and (max-width: 2050px) {
    .sell-wrapper {
        .sell-block {
            //width: 87%; // Временно
            width: 67%;
        }

        .sell-parameters {
            width: 13%;
        }
    }
}

@media screen and (max-width: 2005px) {
    .sell-wrapper {
        .sell-block {
            //width: 89%; // Временно
            width: 69%;
        }

        .sell-parameters {
            //width: 11%; // Временно
            width: 25%;
        }
    }
}

@media screen and (max-width: 1965px) {
    .sell-wrapper {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1920px) {
    .sell-wrapper .sell-block .sell-content .sell-cards .card {
        min-width: 300px;
        //width: 24%; // Временно
        width: 31%;
    }
}

@media screen and (max-width: 1885px) {
    .sell-wrapper .sell-block .sell-content .sell-cards .card {
        .card-title {
            margin-bottom: 15px;

            p {
                font-size: 18px;
            }
        }

        .card-details {
            ul {
                font-size: 16px;
            }
        }

        .card-offer {
            .price {
                font-size: 36px;
            }

            .time {
                font-size: 18px;
            }
        }

        .phone {
            font-size: calc(0.2vw + 20px);
        }

        .apply button {
            font-size: calc(0.3vw + 14px);
        }
    }
}

@media screen and (max-width: 1785px) {
    .header-logo {
        .main-logo {
            left: 36vw;
        }
    }
}

@media screen and (max-width: 1700px) {
    .header-logo {
        .main-logo {
            left: 35vw;
        }
    }
}

@media screen and (max-width: 1630px) {
    .sell-wrapper {
        padding-right: 0;

        .sell-block .sell-content {
            padding: 50px 35px;
        }
    }
}

@media screen and (max-width: 1600px) {
    .header-logo {
        .main-logo {
            left: 34vw;
        }
    }

    .sell-wrapper {
        padding-right: 60px;

        .sell-block {
            width: 75%;

            .sell-content {
                padding: 50px 40px;

                .sell-cards .card {
                    margin-right: 15px;
                }
            }
        }

        .sell-parameters {
            width: 25%;
        }
    }
}

@media screen and (max-width: 1560px) {
    .sell-wrapper {
        .sell-block {
            width: 78%;
        }

        .sell-parameters {
            width: 22%;
        }
    }
}

@media screen and (max-width: 1505px) {
    .sell-wrapper {
        .sell-block {
            width: 80%;
        }

        .sell-parameters {
            width: 20%;
        }
    }
}

@media screen and (max-width: 1495px) {
    .sell-wrapper {
        .sell-parameters {
            font-size: 18px;
        }

        .sell-block {
            .sell-content {
                .sell-cards {
                    .card {
                        padding: 30px;

                        .card-title {
                            p {
                                font-size: 20px;
                            }
                        }

                        .card-actions a {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1480px) {
    .main-logo {
        .logo-img {
            left: 32vw;
        }
    }
}

@media screen and (max-width: 1470px) {
    .sell-wrapper {
        .sell-block {
            width: 82%;
        }

        .sell-parameters {
            width: 18%;
        }
    }
}

@media screen and (max-width: 1450px) {
    .header-logo {
        .main-logo {
            left: 31vw;
        }
    }
}

@media screen and (max-width: 1440px) {
    .sell-wrapper {
        .sell-block {
            width: 85%;

            .sell-content .sell-cards .card {
                .card-title {
                    margin-bottom: 15px;

                    p {
                        font-size: 18px;
                    }
                }

                .card-details {
                    ul {
                        font-size: 16px;
                    }
                }

                .card-offer {
                    .price {
                        font-size: 36px;
                    }

                    .time {
                        font-size: 18px;
                    }
                }

                .phone {
                    font-size: calc(0.2vw + 20px);
                }

                .apply button {
                    font-size: calc(0.3vw + 14px);
                }
            }
        }

        .sell-parameters {
            width: 15%;
        }
    }
}

@media screen and (max-width: 1390px) {
    .sell-wrapper {
        padding-right: 30px;
    }
}

@media screen and (max-width: 1352px) {
    .sell-wrapper {
        padding-left: 40px;
        padding-right: 20px;
    }

    .header-logo {
        .main-logo {
            left: 30vw;
        }
    }
}

@media screen and (max-width: 1325px) {
    .sell-wrapper .sell-block .sell-content .sell-cards .card {
        width: 30%;
        min-width: 290px;

        .card-title {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 1295px) {
    .sell-wrapper {
        padding-right: 5px;
    }
}

@media screen and (max-width: 1280px) {
    .sell-wrapper {
        .sell-block {
            width: 100%;
        }

        .sell-parameters {
            width: 0;
            overflow: hidden;
        }

        .sell-content {
            .sell-cards {
                justify-content: center;

                .card {
                    width: 32%;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .header-logo {
        .main-logo {
            left: 29vw;
        }
    }
}

@media screen and (max-width: 1175px) {
    .header-logo {
        .main-logo {
            left: 28vw;
        }
    }
}

@media screen and (max-width: 1160px) {
    .header-logo {
        .main-logo {
            left: 27vw;

            img {
                width: 90px;
            }

            p {
                font-size: 62px;
            }
        }
    }

    .block-text {
        .block-title {
            font-size: 62px;
        }

        p {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 1075px) {
    .header-logo {
        .main-logo {
            left: 26vw;
        }
    }
}

@media screen and (max-width: 1110px) {
    .sell-wrapper {
        padding: 0;

        .sell-block {
            padding: 0;
        }

    }

}

@media screen and (max-width: 1040px) {
    .sell-wrapper .sell-block .sell-content {
        padding: 60px 20px;
    }

    .block-text {
        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 970px) {
    .sell-wrapper .sell-block .sell-content .sell-cards .card {
        width: 45%;
    }

    .header-logo {
        .main-logo {
            left: 25vw;
        }
    }
}

@media screen and (max-width: 930px) {
    .header-logo {
        .main-logo {
            left: 24vw;
        }
    }
}

@media screen and (max-width: 890px) {
    .choice-block {
        width: 100%;
    }

    .header-logo {
        .main-logo {
            left: 22vw;
        }
    }
}

@media screen and (max-width: 830px) {
    .choice-block .choice-content {
        .wanna-sell {
            min-width: 550px;
        }

        .select {
            min-width: 550px;
        }
    }
}

@media screen and (max-width: 820px) {
    .header-logo {
        .main-logo {
            left: 18vw;
        }
    }
}

@media screen and (max-width: 775px) {
    .sell-wrapper .sell-block .sell-content .sell-content-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 745px) {
    .choice-block {
        .choice-content {
            font-size: 45px;

            .wanna-sell {
                min-width: 500px;
            }

            .select {
                min-width: 500px;

                .chosen .fa-sort-down {
                    font-size: 35px;
                }

                .modal-options-wrapper .options-block .options-content {
                    .modal-options .options .selected .fa-sort-up {
                        font-size: 35px;
                    }

                    padding-top: 230px;
                }
            }
        }
    }

    .header-logo {
        .main-logo {
            left: 15vw;
        }
    }
}

@media screen and (max-width: 670px) {
    .header-logo {
        .main-logo {
            left: 12vw;
        }
    }
}

@media screen and (max-width: 666px) {
    .sell-wrapper .sell-block .sell-content .sell-cards .card {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 650px) {
    .header-logo {
        .main-logo {
            left: 9vw;
        }
    }
}

@media screen and (max-width: 620px) {
    .sell-wrapper .sell-block .sell-content .sell-content-title {
        font-size: 22px;
    }

    .header-logo {
        .main-logo {
            left: 6vw;
        }
    }
}

@media screen and (max-width: 600px) {
    .header-logo {
        .main-logo {
            left: 3vw;
        }
    }
}

@media screen and (max-width: 590px) {
    .choice-block {
        .choice-content {
            font-size: 35px;

            .wanna-sell {
                min-width: 400px;
            }

            .select {
                min-width: 400px;

                .chosen .fa-sort-down {
                    font-size: 30px;
                    margin-top: 10px;
                }

                .modal-options-wrapper .options-block .options-content {
                    padding-top: 215px;

                    .modal-options .options .selected .fa-sort-up {
                        font-size: 30px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .header-logo {
        .main-logo {
            left: 5vw;

            .logo-title {
                font-size: 65px;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .header-logo {
        .main-logo {
            left: 6vw;

            .logo-title {
                font-size: 60px;
            }
        }
    }
}

@media screen and (max-width: 501px) {
    .header-logo {
        .main-logo {
            left: 4vw;
        }
    }
}

@media screen and (max-width: 495px) {
    .header-logo {
        .main-logo {
            left: 0;
        }
    }
}

@media screen and (max-width: 485px) {
    .choice-block {
        .choice-content {
            font-size: 30px;

            .select {
                .chosen .fa-sort-down {
                    font-size: 25px;
                }

                .modal-options-wrapper .options-block .options-content {
                    .modal-options .options .selected .fa-sort-up {
                        font-size: 25px;
                    }

                    padding-top: 205px;
                }
            }

            .action button {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .choice-block {
        .choice-content {
            .wanna-sell {
                min-width: 350px;
            }

            .select {
                min-width: 350px;
            }
        }
    }

    .header-logo {
        .main-logo {
            left: 4vw;

            .logo-title {
                font-size: 55px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .header-logo {
        .main-logo {
            .logo-title {
                font-size: 50px;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .header-logo {
        .main-logo {
            left: 7vw;

            .logo-title {
                margin-left: 30px;
            }

            .logo-subtitle {
                font-size: 17px;
            }
        }
    }

    .main-block {
        .progress-block {
            margin-top: 100px;
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 400px) {
    .choice-block {
        .choice-content {
            font-size: 25px;

            .wanna-sell {
                min-width: 300px;
            }

            .select {
                min-width: 300px;

                .chosen .fa-sort-down {
                    font-size: 18px;
                }

                .modal-options-wrapper .options-block .options-content {
                    .modal-options .options .selected .fa-sort-up {
                        font-size: 18px;
                    }

                    padding-top: 200px;
                }
            }

            .action button {
                font-size: 18px;
            }

            .wanna-sell input[type=number] {
                width: 80px;
                text-align: right;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .header-logo {
        .main-logo {
            .logo-title {
                font-size: 45px;
            }

            .logo-subtitle {
                font-size: 17px;
            }
        }
    }
}

@media screen and (max-width: 385px) {
    .header-logo {
        .main-logo {
            .logo-title {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .block-text {
        .block-title {
            font-size: 50px;
            margin-left: 85px;
        }
    }
}

@media screen and (max-width: 360px) {
    .block-text {
        .block-title {
            font-size: 44px;
            margin-left: 85px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 350px) {
    .header-logo {
        .main-logo {
            .logo-title {
                font-size: 35px;
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .block-text {
        .block-title {
            font-size: 40px;
        }

        p {
            font-size: 15px;
        }
    }

    .choice-block {
        .choice-content {
            font-size: 20px;

            .wanna-sell {
                min-width: 250px;
            }

            .select {
                min-width: 250px;

                .chosen .fa-sort-down {
                    margin-top: 5px;
                }

                .modal-options-wrapper .options-block .options-content {
                    .modal-options .options .selected .fa-sort-up {
                        margin-top: 5px;
                    }

                    padding-top: 190px;
                }
            }

            .action button {
                font-size: 16px;
            }

            .wanna-sell input[type=number] {
                width: 80px;
            }
        }
    }
}

@media screen and (max-height: 725px) {
    .choice-block .choice-content .select .modal-options-wrapper .options-block .options-content {
        top: 15%;
    }
}

@media screen and (max-height: 715px) {
    .choice-block .choice-content .select .chosen {
        margin-bottom: 15%;
    }
}

@media screen and (max-height: 660px) {
    .choice-block .choice-content .select .modal-options-wrapper .options-block .options-content {
        top: 5%;
    }
}

@media screen and (max-height: 600px) {
    .choice-block .choice-content .select .chosen {
        margin-bottom: 10%;
    }

    .choice-block .choice-content .select .modal-options-wrapper .options-block .options-content {
        top: 0;
    }
}



@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* PERSONAL PAGES */

.personal {

    .header-logo .main-logo-personal {
        background-color: #f8fafc;
    }

    .header-logo .main-logo-personal p {
        color: #2B2B2B;
    }

    .header-logo .main-logo-personal .logo-subtitle {
        color: #000;
        font-size: 15px;
        margin-left: -20px;
        margin-top: -8px;
    }

    .header-logo .main-logo-personal .logo-title span::after {
        background-color: #9F9F9F;
        opacity: 0.4;
        border: 2px solid #9F9F9F;
        box-sizing: border-box;
        border-radius: 8px;
    }

    .personal-wrapper {
        display: flex;
        margin-top: 0;
        padding: 0 3.5%;
    }

    .personal-menu {
        padding-top: 120px;
        padding-left: 60px;
        flex-direction: column;
        justify-content: space-between;
        align-items: inherit;
        min-height: 100vh;

    }

    .personal-menu nav {
        padding-top: 26px;
    }

    .personal-menu-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    .personal-menu-list-item,
    .personal-menu-list-item a,
    .personal-submenu-list-item a {
        color: #000;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
    }

    .personal-menu-list-item {
        color: #00000050;
    }

    .personal-menu-list-item a:hover,
    .personal-menu-list-item a:focus,
    .personal-menu-list-item a:active,
    .personal-menu-list-item a.active,
    .personal-submenu-list-item a:hover,
    .personal-submenu-list-item a:focus,
    .personal-submenu-list-item a:active,
    .personal-submenu-list-item a.active {
        color: #FFAF00;
        text-decoration: none;
    }

    .submenu {
        list-style: none;
        margin-bottom: 24px;
    }

    .pm-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .contact-pm {
        margin-bottom: 50px;

        .logo-subtitle {
            margin-bottom: 10px;
            font-weight: 500;
            color: #000;
        }
    }

    .pm-img {
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .pm-name,
    .pm-phone {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 1em;
        margin-bottom: 10px;
        color: #000000;
    }

    .contact-pm-form {
        width: 90%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 10px 40px 0 0;
        background: #FFBF33;
        padding: 10px 17px;
        transform: translate3d(0px, 71%, 0px);
        transition: transform .5s ease-in-out;
    }

    .contact-pm-form:hover,
    .contact-pm-form:focus {
        border-radius: 10px 40px 0 0;
        background: #FFBF33;
        transform: translate3d(0px, 0, 0px);

    }

    .pm-message {
        font-weight: bold;
        font-size: 1em;
        line-height: 2em;
        color: #000;
    }

    .contact-pm-form form {
        display: flex;
        flex-direction: column;
    }

    .personal-content {
        position: absolute;
        top: 100%;
        height: auto;
        min-height: calc(100vh - 13%);
        padding: 0;
        width: 94.5%;
        border-radius: 50px 50px 0 0;
        box-shadow: 0px 0px 25px 0px #ccc;
        overflow: scroll;
        z-index: 9999;
    }

    .personal-content-wrapper {
        overflow: scroll;
        padding-left: 2%;
        padding-right: 2%;
    }

    .orders-heading {
        font-weight: bold;
        font-size: 2.3em;
        line-height: 1.2em;
        color: #000000;
        margin: 50px auto;
        padding: 0 4rem;
        text-align: center;
    }

    .orders-table {
        width: 100%;
        font-size: 1.1em;
        color: #000;

        .first-col {
            padding-left: 1.5em;
        }

        thead {
            background: #F5F5F5;
            font-weight: 600;

            th {
                border: none;
                font-weight: 600;

            }

            tr:hover {
                background: #F5F5F5;
            }
        }

        td {
            border: none;

            a {
                font-weight: 500;
                color: #10B6EB;
                border-bottom: 1px solid #10B6EB;
            }

            a:hover {
                border-bottom: 1px solid transparent;
                text-decoration: none;
            }
        }

        .orders-table tr {
            cursor: pointer;

            &:hover {
                background: #ffbf3320;
            }
        }


    }

    .datepick {
        outline: none;
        border: none;
        border-bottom: 1px solid #00000040;
        background: transparent;
        font-weight: 700;
        text-align: center;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            color: #FFBF33;
        }

    }

    .discount-info-wrapper {
        margin-bottom: 50px;
        padding: 0 4.5rem;
    }

    .procent {
        font-weight: bold;
        font-size: 60px;
        line-height: 72px;
        color: #000000;
    }

    .discount-info {
        display: flex;
        align-items: center;

    }

    .discount-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        margin-left: 15px;
    }

    .discuss {
        background-color: #000;
        color: #fff;
        padding: 12px 40px;
        border-radius: 26px;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .info {

        width: 90%;
        max-width: 800px;

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0;
            max-width: 400px;
        }

        label,
        .soc-label {
            font-weight: 500;
            font-size: 1.1em;
            line-height: 1.2em;
            color: #000000;
        }

        input {
            display: inline;
            width: auto;
            max-width: 320px;
            padding: 13px 20px;
            margin-bottom: 20px;
            border: 1px solid #CCC;
            border-radius: 20px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #000000;

        }

        #phone {
            max-width: 240px;
        }

        #bday {
            max-width: 220px;
        }

        .soc-icons img {
            width: 34px;
            height: 34px;
            margin-right: 13px;
        }

        button {
            margin-top: 20px;
            background-color: #000;
            border: none;
            color: #FFF;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 24px;
            font-weight: bold !important;
            padding: 13px 30px;
            border-radius: 35px;
            transition: all ease 0.4s;
            letter-spacing: 2px;
            z-index: 1;
        }
    }
}

.daterangepicker {
    max-width: 778px !important;
    left: 50% !important;
    margin-left: -389px;
    top: 100px !important;
    right: auto !important;
    padding: 30px 60px !important;
    border: none !important;
    border-radius: 50px !important;
    box-shadow: 0px 0px 25px 0px #ccc;

    th.month {
        font-size: 20px !important;
        line-height: 24px !important;
    }

    &:after,
    &:before {
        display: none !important;
    }

    .drp-calendar {
        width: 50%;
    }

    .table-condensed thead tr:last-child {
        display: none;
    }

    .table-condensed thead tr:first-child {
        margin-bottom: 20px;
    }
}

.modal-popup.login-form .popup-wrapper .popup-content {
    margin-top: 20vh !important;
}


.login-form {

    .modal-popup .popup-wrapper {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: scroll;
    }

    .title h3 {
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    input {
        width: 320px;
        min-height: 52px;
    }

    .soc-icons {
        margin-bottom: 50px;

        img {
            margin-right: 20px;
            width: 52px;
            height: 52px;
        }
    }

    .input-wrapper {

        margin-bottom: 30px;

        a.btn-link {
            white-space: nowrap;
            ont-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #00000040;
        }

        .short {
            max-width: 241px;
            margin-bottom: 0 !important;
        }
    }

    .btn {
        max-width: 217px;
    }

    .reg-link-wrap {
        margin-top: 8.75vh;
    }
}

.reg-form {
    .modal-popup .popup-wrapper {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: scroll;
    }

    .btn {
        max-width: auto;
    }

    .form-check {
        margin: 20px 0 40px;
    }

    button {
        width: 100% !important;
        max-width: 100%;
        padding: 10px 30px !important;
    }

    .form-group {
        margin-bottom: 0;
    }

    .login-link {
        margin-top: 8.75vh;
    }

    .title h3 {
        margin-bottom: 30px;
    }

}

.sell-content {
    position: relative;
}

.modal-popup.order-detail {
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: calc(100vh - 30%);
    left: 0;
    top: 0;
    display: none;
    z-index: 5;

    .popup-wrapper .popup-content {
        margin-top: 0;
    }

    .container,
    .row,
    .popup-content,
    .order-infos,
    .order-infos-list {
        height: 100%;
    }

    .order-infos-list {
        list-style: none;
        position: relative;
        margin-bottom: 0;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background: #C4C4C4;
        }

        .order-infos-list-item {
            font-weight: 500;
            font-size: 20px;
            line-height: 50px;
            position: relative;

            button {
                border: none;
                margin-bottom: 40px;
                margin-top: 11px;
                padding: 13px 20px;
                background-color: #000;
                color: #FFF;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 14px;
                line-height: 17px;
                border-radius: 36px;
            }

            &:before {
                content: "";
                position: absolute;
                left: -40px;
                top: 18px;
                width: 1px;
                height: 200%;
                background: #C4C4C4;

            }

            &:after {
                content: "";
                position: absolute;
                left: -47px;
                top: 6px;
                width: 15px;
                height: 15px;
                background: #C4C4C4;
                border-radius: 70px;
            }


            .docs-list {
                list-style: none;

                .docs-list-item {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                }
            }
        }

        .order-infos-list-item.done {
            color: #000000;

            &:before {
                background: #0CD108;
            }

            :after {
                background: #0CD108;
            }
        }

        .order-infos-list-item.active {
            color: #000000;
            font-weight: 700;

            &:before {
                background: #000000;
            }

            &:after {
                background: #000000;
            }

        }

        .order-infos-list-item.disabled {
            color: #C4C4C4;

            &:before {
                background: #C4C4C4;
            }

            :after {
                background: #C4C4C4;
            }


        }
    }

}

.docs {

    .order-infos-list {

        width: 60%;
        margin: 0 auto;

        .order-infos-list-item {
            display: flex;
            flex-direction: column;
        }

        .order-infos-list-item.done {
            color: #000000;

            &:before {
                background: #0CD108;
            }

            &:after {
                background: #0CD108;
            }
        }

    }

}
