@import "colors";

.modal-popup {
    position: fixed;
    background-color: $white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 5;

    .popup-wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        .popup-close {
            position: absolute;
            right: 40px;
            top: 60px;
            width: 60px;
            height: 60px;
            cursor: pointer;
            z-index: 9;

            span {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 50px;
                height: 5px;
                background-color: $black;
            }
            span:first-of-type {
                transform: rotateZ(45deg);
            }
            span:last-of-type {
                transform: rotateZ(-45deg);
            }
        }
        .popup-close:hover span {
            background-color: red;
        }
        .popup-content {
            margin-top: 30vh;

            .content {
                position: relative;

                .title {
                    margin-bottom: 5px;

                    h3 {
                        font-size: calc(0.9vw + 22px);
                        font-weight: 700;
                    }
                }
                .subtitle {
                    font-weight: 600;
                    font-size: calc(0.2vw + 16px);
                    margin-bottom: 30px;
                }
                .modal-popup-alert {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $white;

                    h3 {
                        font-weight: bolder;
                    }
                    p {
                        font-weight: 500;
                    }
                }
                .popup-form {
                    width: 100%;

                    input {
                        padding: 13px 20px;
                        margin-bottom: 20px;
                        border: 1px solid $borderGray;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        border-radius: 20px;
                    }
                    input:focus {
                        outline: none;
                        border: 1px solid $black;
                    }
                    .phone-input {
                        width: 75%;
                        margin-bottom: 30px;
                    }
                    .price-input {
                        margin-bottom: 0;
                        width: 45%;
                    }
                    .price-input-container {
                        margin-bottom: 20px;

                        span {
                            margin-left: 7px;
                            font-size: 27px;
                        }
                    }
                    button {
                        border: none;
                        width: 75%;
                        padding: 13px 20px;
                        background-color: $black;
                        color: $white;
                        text-transform: uppercase;
                        font-weight: 600;
                        letter-spacing: 1px;
                        font-size: calc(0.3vw + 16px);
                        -webkit-border-radius: 36px;
                        -moz-border-radius: 36px;
                        border-radius: 36px;
                    }
                    button:hover {
                        color: $goldBackground;
                    }
                    button:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}